
<div class="topbar">
  <div id='btnposi'>
  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" type='button' class="bi bi-justify btn-topbar" viewBox="0 0 16 16"  data-toggle="collapse" data-target="#demo">
    <path fill-rule="evenodd" d="M2 12.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
  </svg>
</div>
<div>
  <div id="demo" class="collapse container-fluid m-2">
    
      <div class="row">
        <div class="col-sm-12 ">
          <div class="col-margin" type='button'>
         link1
        </div>
        </div>
        <div class="col-sm-12">
          <div class="col-margin" type='button'>
            link2
           </div>
        </div>
        <div class="col-sm-12">
          <div class="col-margin" type='button'>
            link3
           </div>
        </div>
        <div class="col-sm-12">
          <div class="col-margin" type='button'>
            link4
           </div>
         </div>
      </div>

</div>
</div>
</div>
